*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


.container{
    min-height: 100vh;
    width: 100%;
    background-color: #191a2b;
}

.service-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: rgb(4,52,83);
}



















